/* .allbody {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        /* opacity: 0; */
    }
    to {
        transform: translateY(0%);
        /* opacity: 1; */
    }
}

@keyframes fade-in-down {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-up {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-to-left {
    from {
        transform: translateX(2rem);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.history-cards-column::-webkit-scrollbar {
    display: none;
}

.weather-card {
    animation: slide-in 500ms;
}
.current-weather,
.city-name,
.hours-box {
    animation: fade-in-down 500ms;
}

.section-3 {
    animation: fade-in-up 500ms;
}

.tabs {
    animation: slide-in 500ms;
}

/* .hours-box {
    animation: fade-in-down 500ms;
} */

.top-bar {
    animation: slide-down 700ms;
}

.main-top-bar {
    animation: slide-down 700ms;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards-column {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* animation: slide-in 500ms; */
}
.hours-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.weather-content-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* @media (max-width: 1000px) {
    .sidebar {
        z-index: 1;
    }
} */
